.drawing {
  path {
    fill: none;
    stroke: black;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
}

.highlight {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: yellow;
    width: 0;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  &:hover::before {
    width: 100%
  }
}

.divider::before {
  content: '';
  width: calc(100% - 3rem);
  left: 1.5rem;
  height: 1px;
  background: #e2e8f0;
  position: absolute;
}