$header-transition-time: .3s;

.header {
  height: 10rem;
  transition: ease $header-transition-time;

  &::after {
    content: '';
    width: calc(100% - 3rem);
    left: 1.5rem;
    height: 1px;
    background: white;
    position: absolute;
    bottom: 0px;
    transition: ease $header-transition-time;
  }

  .logo {
    g {
      transition: ease $header-transition-time;
    }
    
    .w {
      transition: ease $header-transition-time;
    }
  }

  &.small {
    height: 4rem;

    .logo {
      .w {
        transform: translate(-69px, 0); // haha funny number
      }
    }
  }

  &.scroll::after {
    background: #e2e8f0;
  }
}


$footer_height: 4rem;
main {
  min-height: calc(100vh - #{$footer_height});
}

footer > div {
  height: $footer_height !important;
}